html {
  background: #404a4d;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  display: flex;
  flex-direction: column;
}

.resources {
  display: flex;
  background: #666;
  padding: 5px 7px;
}

.resource {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #2d2929;
  color: white;
  margin: 0 2px;
  padding: 7px;
  border-radius: 5px;
  transition: background-color 1s;
}
.resource.green {
  background: #4b9d4b;
  transition: background-color 100ms;
}
.resource.red {
  background: #c62929;
  transition: background-color 100ms;
}
.resource-group {
  display: flex;
  background: #2d2929;
  border-radius: 5px;
  margin: 0 2px;
}
.resource-group .resource {
  margin: 0;
}
#days.paused::before {
	content: 'PAUSED';
	position: absolute;
	padding: 10px;
	color: #fe6666;
	background: rgba(0,0,0,0.5);
	font-weight: bold;
}

.hidden {
  display: none;
}

button {
  border-radius: 2px;
  font-size: 20px;
  padding: 0.6em 0.3em;
  border: 1px solid #666;
  background: #c5d680;
  cursor: pointer;
  color: #333;
  width: 200px;
}

.actions {
  flex-shrink: 0;
  padding: 8px;
  text-align: center;
  background: #9aad4d;
}
.actions button {
  visibility: hidden;
  vertical-align: middle;
}
.actions button {
  transition: transform 300ms ease-out;
}
.actions button small {
	display: block;
	margin-top: 10px;
	margin-bottom: -5px;
}

button:disabled {
  background: #cccccc;
  color: #444;
}
button:hover:not(:disabled) {
  background: #ecff9a;
}
button:hover:not(:active):not(:disabled) {
	top: -2px;
	position: relative;
}

.blink {
  transform: scale(1.8);
}

#main-image {
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
#main-image svg {
	width: 100%;
  height: auto;
}
#main-image svg:hover {
  transition: transform 200ms cubic-bezier(.22,.61,.36,1) 200ms;
}

.trail {
  transition: stroke-dasharray 3s linear;
  stroke-dasharray: 0,0%,1,100%;
}
#huntTrail {
  display: none;
}
.huntTrail {
  stroke-dasharray: 0,0,0.5px,2px,0.5px,100%;
}
.forageTrail {
  transition-duration: 1.5s;
}
#fishTrail {
  transition-duration: 0.5s;
}
#boatTrail {
  visibility: hidden;
  transition-duration: 2s;
  stroke-dasharray: 0,0%,2,100%;
}

#sky, svg {
  transition: filter 1s linear;
}

svg, svg.night #sky {
  filter: brightness(1.0) contrast(1.0);
}
svg.night {
  filter: brightness(0.9) contrast(1.2) saturate(0.7);
}
svg.night #sky {
  filter: brightness(0.3) contrast(1.8);
}

#sy, #fh, #hull, #st, #newShip, #cp, #score-board {
  visibility: hidden;
}

.modal {
	position: fixed;
	background: #404a4d;
	color: #fff;
	top: 10%;
	left: calc(50% - 400px);
	z-index: 3;
	font-size: 150%;
	width: 800px;
	padding: 2em;
	box-sizing: border-box;
  transform: scale(1);
  text-align: justify;
}
.intro::before,
#score-board::before {
	content: "";
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.5);
	top: 0px;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
}
.modal small {
	font-size: 60%;
	float: right;
	margin-top: 2em;
}
li + li {
	margin-top: 0.5em;
}
.intro ~ div {
  filter: blur(10px) brightness(1.5);
}
.intro.closed .modal {
  top: -200%;
  transform: scale(1.5);
  opacity: 0;
  transition: top 0s ease 0.3s, opacity 0.3s ease, transform 0.3s linear;
}
.intro.closed::before {
  content: unset;
}
.intro.closed ~ div {
  filter: none;
  transition: filter 500ms;
}
.caps, button {
  text-transform: capitalize;
  font-variant: small-caps;
}
.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.content span {
  margin-bottom: 1em;
  padding: 0 2em;
}
.content :nth-child(2n) {
	text-align: right;
}
.content p {
	font-size: 130%;
	margin-top: 0;
	color: #c5d680;
  font-weight: bold;
  text-align: center;
}
.modal button {
  display: block;
  margin: auto;
}

body {
  --v: 0;
}
.v {
	opacity: var(--v);
  transition: opacity .1s ease-out;
}

.logo {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
	margin: 10px auto;
	display: block;
  width: calc(70px * 4);
}
.modal .logo {
	width: calc(70px * 7);
}
footer {
  opacity: 0.4;
}

#newShip.go {
  transition: transform 10s cubic-bezier(.5,0,1,1);
  transform: translate(-40%, 60%);
}

.people {
	display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: #ccc;
}
.people .icon {
	margin: -1px 1px -4px 1px;
	font-size: 25px;
	height: 1.1em;
	width: 1.1em;
	line-height: 1.1em;
  background: none;
  overflow: visible;
}
.people .dead {
  opacity: 0.5;
  filter: saturate(0);
}
.people .icon:nth-child(n+9) {
	position: relative;
	left: 14px;
}