html {
  background: #404a4d;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  display: flex;
  flex-direction: column;
}

.resources {
  display: flex;
  background: #666;
  padding: 5px 7px;
}

.resource {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #2d2929;
  color: white;
  margin: 0 2px;
  padding: 7px;
  border-radius: 5px;
  transition: background-color 1s;
}
.resource.green {
  background: #4b9d4b;
  transition: background-color 100ms;
}
.resource.red {
  background: #c62929;
  transition: background-color 100ms;
}
.resource-group {
  display: flex;
  background: #2d2929;
  border-radius: 5px;
  margin: 0 2px;
}
.resource-group .resource {
  margin: 0;
}


.hidden {
  display: none;
}

button, .btn {
    border-radius: 2px;
    font-size: 20px;
    padding: 0.6em 1em;
    font-variant: small-caps;
    border: 1px solid #666;
    background: #c5d680;
    cursor: pointer;
    line-height: 25px;
    color: #333;
}

.actions {
  flex-shrink: 0;
  padding: 8px;
  text-align: center;
  background: #9aad4d;
}
.actions button {
  visibility: hidden;
}
.actions button,
.actions .btn {
  transition: transform 300ms ease-out;
}
.actions button small {
	display: block;
	margin-top: 10px;
	margin-bottom: -5px;
}

button:disabled {
  background: #cccccc;
  color: #444;
}
button:hover:not(:disabled) {
  background: #ecff9a;
}
button:hover:not(:active):not(:disabled) {
	top: -2px;
	position: relative;
}

.blink {
  transform: scale(1.8);
}

.title {
  margin-left: 16px;
  text-transform: capitalize;
  font-variant: small-caps;
  margin-bottom: 5px;
}
.description {
  font-size: 80%;
}

#projects-checkbox:not(:checked) + .projects {
  position: fixed;
  background: none;
  top: 0;
  right: 0;
  display: flex;
  padding: 4px 10px;
}
#projects-checkbox:not(:checked) + .projects .project {
  padding: 0;
  background: none;
  height: 42px;
  width: 42px;
  overflow: hidden;
}

#projects-checkbox:not(:checked) + .projects .cost {
  display: none;
}

#main-image {
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
#main-image svg {
	width: 100%;
  height: auto;
}
#main-image svg:hover {
  transition: transform 200ms cubic-bezier(.22,.61,.36,1) 200ms;
}

.trail {
  transition: stroke-dasharray 5s linear;
  stroke-dasharray: 0,0%,1,100%;
}
#huntTrail {
  display: none;
}
.huntTrail {
  stroke-dasharray: 0,0,0.5px,2px,0.5px,100%;
}
.forageTrail {
  transition-duration: 1.5s;
}
#fishTrail {
  transition-duration: 0.5s;
}

#crosses g {
  display: none;
}

#sky, svg {
  transition: filter 1s linear;
}

svg, svg.night #sky {
  filter: brightness(1.0) contrast(1.0);
}
svg.night {
  filter: brightness(0.9) contrast(1.2) saturate(0.7);
}
svg.night #sky {
  filter: brightness(0.3) contrast(1.8);
}

#sy, #fh, #hull {
  visibility: hidden;
}

#ship {
  transition: transform 5s ease-out;
}

.intro .modal {
	position: fixed;
	background: #404a4d;
	color: #fff;
	top: 20%;
	left: calc(50% - 400px);
	z-index: 3;
	font-size: 150%;
	width: 800px;
	padding: 2em;
	box-sizing: border-box;
}
.intro::before {
	content: "";
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.5);
	top: 0px;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
}
li + li {
	margin-top: 0.5em;
}
.intro ~ div {
  filter: blur(10px) brightness(1.5);
}
.intro.closed {
  display: none;
}
.intro.closed ~ div {
  filter: none;
  transition: filter 500ms;
}