.projects.closed #projects {
	background: white;
	cursor: pointer;
	border-radius: 5px;
	padding: 8px;
	margin-right: 14px;
	font-variant: small-caps;
}
.projects:not(.closed) #projects {
  position: absolute;
	cursor: pointer;
  width: 100%;
  padding: 12px 16px;
  font-size: 150%;
  box-sizing: border-box;
}
.close {
	font-size: 200%;
	line-height: 0.6;
	float: right;
}
.projects.closed #projects .close {
  display: none;
}
.projects:not(.closed) #projects .open {
  display: none;
}
.projects:not(.closed) {
  transition: all 150ms ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  max-height: 900px;
  background: linear-gradient(#7baebd, #2b5e6e);
  flex-shrink: 0;
	position: fixed;
	height: 90%;
	width: 90%;
	z-index: 3;
	align-content: flex-start;
	top: 5%;
	right: 5%;
	box-shadow: 0 0 10vh rgba(0,0,0,0.5);
	padding: 50px 10px 10px 10px;
	box-sizing: border-box;
	border-radius: 15px;
}
.project {
  background: #a9eafd;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  padding-bottom: 30px;
}
.project:not(.in-progress):not(.done):hover {
  background: #caf3ff;
}
.icon {
  font-size: 30px;
  background: white;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  border-radius: 60px;
  line-height: 1.4em;
  float: left;
  margin-right: 15px;
  color: #333;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: inherit;
  flex-shrink: 0;
}
.icon::before {
	content: "";
	display: inline-block;
	background: linear-gradient(#b2e465, #8ab942);
	width: 100%;
	height: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: inherit;
}
.project.in-progress .icon::before {
  height: 100%;
}
.project.in-progress {
  cursor: default;
}
.project.done {
  background: none;
  color: #333;
  cursor: default;
}
.project.done .cost {
  display: none;
}

.projects.closed {
  position: fixed;
  background: none;
  top: 0;
  right: 0;
  height: 52px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 4px 10px;
}
.projects.closed .project {
  padding: 0;
  height: 42px;
  width: 42px;
  overflow: hidden;
  pointer-events: none;
  background: none;
}

.projects.closed .cost {
  display: none;
}

.project.no {
	animation: nudge 200ms infinite;
}
@keyframes nudge {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}


.cost {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  padding: 4px;
}