.projects.closed #projects {
	background: white;
	cursor: pointer;
	border-radius: 5px;
	padding: 8px;
	margin-right: 14px;
}
.projects:not(.closed) #projects {
  position: absolute;
	cursor: pointer;
  width: 100%;
  padding: 12px 16px;
  font-size: 150%;
  box-sizing: border-box;
}
.close {
	font-size: 200%;
	line-height: 0.6;
	float: right;
}
.projects.closed #projects .close {
  display: none;
}
.projects:not(.closed) #projects .open {
  display: none;
}
.projects:not(.closed) {
  transition: all 80ms ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 250px;
  background: #e4fa89;
  flex-shrink: 0;
	position: fixed;
	width: 90%;
	z-index: 3;
	align-content: flex-start;
	top: 10%;
	right: 5%;
	box-shadow: 0 0 10vh rgba(0,0,0,0.5);
	padding: 50px 10px 10px 10px;
	box-sizing: border-box;
	border-radius: 15px;
}
.project {
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  padding-bottom: 50px;
  border: 2px solid #a1c700;
}
.project:hover {
  background: #c2ea1b;
}
.project.in-progress, .project.done {
  border-color: transparent;
}
.project.done .icon {
  box-shadow: 0 0 0 3px #a1c700 inset;
}
.icon {
  font-size: 30px;
  background: white;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  border-radius: 60px;
  line-height: 1.4em;
  float: left;
  margin-right: 15px;
  color: #333;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: inherit;
  flex-shrink: 0;
  cursor: default;
}
.project .icon {
  margin-bottom: 1em;
}
.icon::before {
	content: "";
	display: inline-block;
	background: linear-gradient(#b2e465, #8ab942);
	width: 100%;
	height: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: inherit;
}
.project.in-progress .icon::before {
  height: 100%;
}
.project.in-progress {
  cursor: default;
}
.project.done {
  background: none;
  color: #333;
  cursor: default;
}
.project.done .cost {
  display: none;
}

.projects.closed {
  position: fixed;
  background: none;
  top: 0;
  right: 0;
  height: 60px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4px 10px;
}
.projects.closed .project {
  padding: 0;
  height: 42px;
  width: 42px;
  overflow: hidden;
  background: none;
  border: none;
}

.projects.closed .cost {
  display: none;
}

.project.no {
	animation: nudge 200ms infinite;
}
@keyframes nudge {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}


.title {
  margin-left: 16px;
  margin-bottom: 5px;
}
.cost {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #2f6271;
  padding: 7px;
  font-weight: bold;
}